---
import CardBlog from "../CardBlog.astro"
---

<section id="blog" class="flex flex-col h-fit pt-16">
  <h1
    class="mb-20 tracking-wider text-7xl font-bold text-center text-secondary opacity-40"
  >
    BLOG POSTS
  </h1>
  <CardBlog 
    title='Astro vs NextJS' 
    link="/astro-vs-NextJS"
    summary="Astro and Next.js are two popular frameworks for creating React web apps, but they have different approaches and features."
    tags={["Code", "Javascript"]} />
  <CardBlog 
    title='Astro vs NextJS' 
    link="/astro-vs-NextJS"
    summary="Astro and Next.js are two popular frameworks for creating React web apps, but they have different approaches and features."
    tags={["Code", "Javascript"]} />
</section>
