---
const skills = ["Javascript", "PHP", "React", "Astro", "NodeJS", "Laravel", "Python", "MySQL", "MongoDB", "HTML", "CSS"]
import SkillComponent from "./SkillComponent.astro";
---

<section id="about" class="pt-16 h-fit">
  <h1
    class="mb-20 md:mb-28 tracking-wider text-7xl md:text-9xl font-bold text-center text-secondary opacity-40"
  >
    ABOUT
  </h1>
  <div class="w-4/5 m-auto">
    <div class="md:text-lg md:mb-10 md:leading-8 md:tracking-wide">
      <p>I started programming while I was in Law university, when this question popped in my head.</p>
      <p>How are these websites we use every day made?</p>
      <p>And then my journey in web development began and I now I am a passionate Full-stack developper. My expertise is developing fast & engaging websites. </p>
    </div>
    <div class="pt-5">
      <h2 class="text-xl md:text-2xl py-5 tracking-widest">FULL STACK DEVELOPMENT</h2>
      <ul class="list-none flex md:text-lg flex-row flex-wrap gap-5">
        {skills.map(item => (
          <SkillComponent skill={item} />
        ))}
      </ul>
    </div>
    <div class="pt-5">
      <h2 class="text-xl md:text-2xl py-5 tracking-widest">DESIGN & CONTENT MANAGEMENT SYSTEMS</h2>
      <ul class="list-none flex flex-row flex-wrap gap-5">
        <li class="bg-orange bg-opacity-40 py-1 px-3 md:py-3 md:px-4 rounded-sm">Figma</li>
        <li class="bg-orange bg-opacity-40 py-1 px-3 md:py-3 md:px-4 rounded-sm">Sanity CMS</li>
        <li class="bg-orange bg-opacity-40 py-1 px-3 md:py-3 md:px-4 rounded-sm">Tina CMS</li>
      </ul>
    </div>
  </div>
</section>
