---
---

<section id="about" class="pt-16 h-fit">
  <h1
    class="mb-20 tracking-wider text-7xl font-bold text-center text-secondary opacity-40"
  >
    ABOUT
  </h1>
  <div class="w-4/5 m-auto">
    <div>
      <p>I started programming while I was in Law university, when this question popped in my head.</p>
      <p>How are these websites we use every day made?</p>
      <p>And then my journey in web development began and I now I am a passionate Full-stack developper. My expertise is developing fast & engaging websites. </p>
    </div>
    <div class="pt-5">
      <h2 class="text-xl py-5 tracking-widest">FULL STACK DEVELOPMENT</h2>
      <ul class="list-none flex flex-row flex-wrap gap-5">
        <li class="bg-orange bg-opacity-60 py-1 px-3 rounded-full">Javascript</li>
        <li class="bg-orange bg-opacity-60 py-1 px-3 rounded-full">PHP</li>
        <li class="bg-orange bg-opacity-60 py-1 px-3 rounded-full">React</li>
        <li class="bg-orange bg-opacity-60 py-1 px-3 rounded-full">Astro</li>
        <li class="bg-orange bg-opacity-60 py-1 px-3 rounded-full">NodeJS</li>
        <li class="bg-orange bg-opacity-60 py-1 px-3 rounded-full">Laravel</li>
        <li class="bg-orange bg-opacity-60 py-1 px-3 rounded-full">Python</li>
        <li class="bg-orange bg-opacity-60 py-1 px-3 rounded-full">MySQL</li>
        <li class="bg-orange bg-opacity-60 py-1 px-3 rounded-full">MongoDB</li>
        <li class="bg-orange bg-opacity-60 py-1 px-3 rounded-full">HTML</li>
        <li class="bg-orange bg-opacity-60 py-1 px-3 rounded-full">CSS</li>
      </ul>
    </div>
    <div class="pt-5">
      <h2 class="text-xl py-5 tracking-widest">DESIGN & CONTENT MANAGEMENT SYSTEMS</h2>
      <ul class="list-none flex flex-row flex-wrap gap-5">
        <li class="bg-orange bg-opacity-60 py-1 px-3 rounded-full">Figma</li>
        <li class="bg-orange bg-opacity-60 py-1 px-3 rounded-full">Accessibility</li>
        <li class="bg-orange bg-opacity-60 py-1 px-3 rounded-full">Sanity CMS</li>
        <li class="bg-orange bg-opacity-60 py-1 px-3 rounded-full">Tina CMS</li>
      </ul>
    </div>
  </div>
</section>
