---
import Logo from "../assets/logo.svg";
---

<nav class="flex justify-evenly backdrop-filter backdrop-blur-sm bg-opacity-40 bg-black fixed inset-x-0 bottom-0 z-50 px-5 animate-fadeIn animation-delay-700 md:animation-delay-75 md:sticky md:top-0">

  <a href="#welcome" class="z-40 py-4 px-4">
    <img src={Logo.src} alt="Logo" class="w-6 md:w-10" />
  </a>
  <a href="#work" class="z-40 self-center text-sm md:text-xl py-4 px-4">Work</a>
  <a href="#about" class="z-40 self-center text-sm md:text-xl py-4 px-4">About</a>
  <a href="#contact" class="z-40 self-center text-sm md:text-xl py-4 px-4 bg-orange bg-opacity-40 rounded-sm">Contact</a>
</nav>