---
---
<nav class="flex justify-evenly bg-orange bg-opacity-20 sticky top-2 z-50 rounded-full mx-5">
  <div class="absolute backdrop-blur w-full h-full rounded-full"></div>
  
  <a href="#welcome" class="z-40 py-4 px-6 text-transparent bg-clip-text bg-gradient-to-r from-white to-orange font-bold">&lt;HB&gt;</a>
  <a href="#about" class="z-40 py-4 px-6">About</a>
  <a href="#work" class="z-40 py-4 px-6">Work</a>
  <a href="#" class="z-40 py-4 px-6">Blog</a>

</nav>
