---
---

<header class="h-fit w-full bg-white bg-opacity-5 backdrop-blur-sm fixed top-0">
  <nav class="h-fit flex flex-row justify-evenly items-stretch">
    <a href="#" class="py-4 px-6 text-orange font-bold">&lt;HB&gt;</a>
    <a href="#" class="py-4 px-6">Projects</a>
    <a href="#" class="py-4 px-6">Blog</a>
    <a href="#" class="py-4 px-6">About</a>
  </nav>
</header>
