---
---
<header class="my-6 h-14">
  <nav class="grid grid-cols-4 h-full">
    <a href="#" class="text-center font-bold">&lt;HB&gt;</a>
    <a href="#" class="">Projects</a>
    <a href="#" class="">Blog</a>
    <a href="#" class="">About</a>
  </nav>
</header>