---
import { Image } from "astro:assets"
import Logo from "../assets/logo.svg";
import Moon from "../assets/moon.svg";
import Sun from "../assets/sun.svg";
---

<nav
  class="flex justify-between h-16 z-40 dark:bg-black backdrop-filter backdrop-blur-sm bg-opacity-40 fixed inset-x-0 bottom-0 md:w-4/5 md:m-auto md:sticky md:top-0"
>
  <div class="w-20">
    <a href="/#welcome" class="flex items-center h-full w-full">
      <Image src={Logo} class="w-6 md:w-8 m-auto md:m-0" alt="Logo"/>
    </a>
  </div>
  <div class="flex mr-5 md:mr-0">
    <a href="/#about" class="self-center text-sm md:text-base py-4 px-4">About</a>
    <a href="/#work" class="self-center text-sm md:text-base py-4 px-4">Work</a>
    <a
      href="/#contact"
      class="self-center text-sm md:text-base py-4 px-4"
      >Contact</a
    >
    <button class="mode_btn self-center py-4 px-4 w-12 border border-secondary border-opacity-40 rounded-sm">
      <Image src={Moon} class="moon" alt="Dark mode icon"/>
      <Image src={Sun} class="sun" alt="Light mode icon"/>
    </button>
  </div>
</nav>

<script is:inline>

  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }
      return 'light';
  })();

  const moon = document.querySelector('.moon')
  const sun = document.querySelector('.sun')

  if (theme === 'light') {
    document.documentElement.classList.remove('dark');
    sun.classList.add("hidden");
  } else {
    document.documentElement.classList.add('dark');
    sun.classList.remove("hidden");
    moon.classList.add("hidden");
  }

  window.localStorage.setItem('theme', theme);
 
  const handleToggleClick = () => {
    const element = document.documentElement;
    element.classList.toggle("dark");

    const isDark = element.classList.contains("dark");
    if(isDark){
      moon.classList.add("hidden")
      sun.classList.remove("hidden")
    }else{
      moon.classList.remove("hidden")
      sun.classList.add("hidden")
    }
    localStorage.setItem("theme", isDark ? "dark" : "light");
  }

  const mode_btn = document.querySelector('.mode_btn')
  mode_btn.addEventListener('click', handleToggleClick)
</script>