---
---
<section class="min-h-screen flex items-center justify-center w-full">
  <div class="text-center">
    <p>Hello, I'm</p>
    <p class="font-bold text-4xl mt-6 mb-4">
      <span class="text-orange">H</span>assan
      <span class="text-orange">B</span>en
      <span class="text-orange">H</span>aj
      <span class="text-orange">B</span>ouih
    </p>
    <p>I build Web Applications</p>
  </div>
</section>