---
import cv_icon from '../assets/cv_icon.svg'
import twitter_icon from '../assets/twitter_icon.svg'
import github_icon from '../assets/github_icon.svg'
---
<section id="welcome" class="min-h-screen flex items-center justify-center w-full">
  <div class="text-center">
    <p class="animate-fadeIn">Hello, I'm</p>
    <p class="opacity-0 animate-fadeIn animation-delay-500 font-bold text-4xl mt-6 mb-4">
      <span class="text-orange">H</span>assan
      <span class="text-orange">B</span>en
      <span class="text-orange">H</span>aj
      <span class="text-orange">B</span>ouih
    </p>
    <p class="opacity-0 animate-fadeIn animation-delay-700">I build Web Applications</p>
    <div class="opacity-0 animate-fadeIn animation-delay-1000 mt-6 flex flex-row items-center justify-center ">
      <a href="https://twitter.com/hassan_bhb" class="p-2" title="My twitter account"><img src={twitter_icon.src} width="25" height="25" alt="Twitter icon"/></a>
      <a href="https://github.com/Hassanbhb" class="p-2" title="My github account"><img src={github_icon.src} width="25" height="25" alt="Github Icon"/></a>
      <a href="#" class="p-2" title="My cv"><img class="animate-wiggle" src={cv_icon.src} width="25" height="25" alt="CV icon"/></a>
    </div>
  </div>
</section>