---
import MoroccoInData_img from '../assets/MoroccoIndata.jpg'
import CardProject from './CardProject.astro'
---

<section id='work' class="flex flex-col h-fit pt-16">
  <h1 class="mb-20 md:mb-28 tracking-wider text-7xl md:text-9xl font-bold text-center text-secondary opacity-40">WORK</h1>
  
  <div class="w-4/5 mx-auto ">
    <h2 class="text-2xl tracking-widest ">PROFESSIONAL EXPERIENCE</h2>
    <div class="mt-5 mb-12">
      <h3 class="font-bold text-xl md:text-2xl">Full-Stack developper - TEKKNOW</h3>
      <p class="mb-2 font-light text-sm md:text-base">Internship</p>
      <p class="md:text-lg md:tracking-wide md:leading-8">Developped and styled an interactive web app, while collaborating with other interns.</p>
      <ul class="list-none flex flex-row md:text-xl flex-wrap gap-3 mt-3">
        <li class="bg-orange bg-opacity-40 py-2 px-3 md:py-3 md:px-4 rounded-sm">Javascript</li>
        <li class="bg-orange bg-opacity-40 py-2 px-3 md:py-3 md:px-4 rounded-sm">PHP</li>
        <li class="bg-orange bg-opacity-40 py-2 px-3 md:py-3 md:px-4 rounded-sm">Laravel</li>
        <li class="bg-orange bg-opacity-40 py-2 px-3 md:py-3 md:px-4 rounded-sm">MySQL</li>
        <li class="bg-orange bg-opacity-40 py-2 px-3 md:py-3 md:px-4 rounded-sm">HTML</li>
        <li class="bg-orange bg-opacity-40 py-2 px-3 md:py-3 md:px-4 rounded-sm">CSS</li>
      </ul>
    </div>
    <h2 class="text-2xl pb-5 tracking-widest">MY WORK</h2>
    <CardProject 
      title="MoroccoInData" 
      link="https://moroccoindata.streamlit.app"
      imgSrc={MoroccoInData_img.src} 
      tools={['Streamlit', 'Python', 'Pandas', 'Plotly', 'Web scraping']} />
  </div>
</section>