---
import { SEO } from "astro-seo";
import { ViewTransitions } from "astro:transitions";
import Nav from "../components/Nav.astro";
import twitter_card from "../assets/seo/twitter_card.png";
const currentUrl = Astro.url;
const { pageTitle, siteTitle, pageDescription, shortDescription } = Astro.props;
console.log(siteTitle, currentUrl.href);
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <SEO
      title={pageTitle}
      description={pageDescription}
      openGraph={{
        basic: {
          title: siteTitle,
          type: "website",
          image:
            "https://github.com/Hassanbhb/Personal-website/blob/main/src/assets/seo/twitter_card.png?raw=true",
          url: currentUrl.href,
        },
      }}
      twitter={{
        card: "summary_large_image",
        creator: "@hassan_bhb",
        title: pageTitle,
        description: shortDescription,
        image: twitter_card.src,
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.svg" }],
        meta: [
          {
            name: "twitter/image",
            content: twitter_card.src,
          },
          {
            name: "twitter:title",
            content: siteTitle,
          },
          {
            name: "twitter:description",
            content: pageDescription,
          },
        ],
      }}
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <script is:inline>
      const storedTheme = localStorage.getItem("theme");
      document.documentElement.classList.add(storedTheme);
    </script>
  </head>
  <body
    class="dark:bg-black bg-white text-black dark:text-primary lg:w-4/6 lg:m-auto mb-16 md:mb-0"
  >
    <Nav />
    <slot />
  </body>
</html>
